@model GroupViewModel
@{
    ViewBag.Title = "Edit Group";
}
<form asp-controller="Groups" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button class=" hover:bg-red-500">Update</button>
    <a class=" hover:bg-red-500" asp-controller="Groups" asp-action="Index">Cancel</a>
</form>