@model UserViewModel
@{
    ViewBag.Title = "Create User";
}

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class=" hover:bg-red-500">Create</button>
    <a class=" hover:bg-red-500" asp-controller="Users" asp-action="Index">Cancel</a>
</form>