@model List<UserViewModel>
@{
    ViewBag.Title = "Users";
}
@{int counter = 0;}

<section class="grid grid-cols-1 sm:grid-cols-3">
    @foreach(var userViewModel in Model) {
        <section class="border-gray-500 border-2 p-6 m-5 rounded-lg">
            <a class="flex flex-col" asp-action="Edit" asp-route-id=@counter>@userViewModel.FirstName @userViewModel.LastName</a>
            <form asp-action="Delete" asp-route-id=@counter method="post"><button onclick="return confirm('Delete @userViewModel.FirstName @userViewModel.LastName?');"><i class="fas fa-trash-alt"></i></button></form>
            @{counter++;}
        </section>
    }
</section>
<section class="m-5"><a asp-action="Create">Create</a></section>